body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

.container {
    width: 100%;
}

aside, main {
    float: left;
}

aside {
    background-color: chartreuse;
    width: 300px;
    height: 800px;
}

aside p {
    padding-top: 200px;
}

main {
    width: calc(100% - 300px);
}

header {
    background-color: cornflowerblue;
    height: 100px;
    line-height: 100px;
}

.content {
    background-color: antiquewhite;
    height: 700px;
    margin-top: -30px;
}

.content p {
    padding-top: 200px;
}

footer {
    clear: both;;
}

footer .text {
    float: left;
    width: 60%;
    background-color: #d9a875;
    height: 50px;
    line-height: 50px;
}

footer .img {
    float: left;
    width: 40%;
    background-color: #cf3ae5;
    height: 50px;
    line-height: 50px;
}